@{
    ViewData["Title"] = "About";
    ViewBag.Uncontainerize = true;
}


<div class="image-head-container">
    <div class="emblem-container">
        <img class="emblem" src="~/img/logo comstar trans bg.png" />
    </div>
</div>
<div class="about container" style="text-align: center; margin-top: 3em;">
    
    <h1 class="tagline" style="margin-top: 2em; font-size: 3em;">About Us<span class="bracket"></span></h1>
    <h2 class="subtitle" style="color: #ffffffff; font-size: 1.8em;"><span style="color: #fb9e99;">[</span>Computer Strike Toward Artistic Research (COMSTAR)<span style="color: #fb9e99;">]</span></h2>
    <p class="intro-para" style="font-size: 1.3em;">We are a society consisting of Computer Science Students of UTMKL. We are generally a Course program club that helps computer science students be more involved in every aspect of computer science and gain sufficient knowledge in order to become successful in the fields</p>

    <h2 class="subtitle" style="color: #ffffffff; font-size: 1.8em;"><span style="color: #fb9e99;">[</span>VISION<span style="color: #fb9e99;">]</span></h2>
    <p class="intro-para" style="font-size: 1.3em;">To produce students who are active, skilled and creative in realizing excellence towards the world of ICT.</p>

    <h2 class="subtitle" style="color: #ffffffff; font-size: 1.8em;"><span style="color: #fb9e99;">[</span>MISSION<span style="color: #fb9e99;">]</span></h2>
    <p class="intro-para" style="font-size: 1.3em;">Master the skills and cultivate an interest in the world of ICT as well as inculcate good values ​​and good work culture among students.</p>
</div>