@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="container">
    <h1>@ViewData["Title"]</h1>

    <p>We will not steal your data.</p>
    <p>We will not steal your data.</p>
    <p>We will not steal your data.</p>
    <p>We will not steal your data.</p>
    <p>We will not steal your data.</p>
    <p>We will not steal your data.</p>
    <p>We will not steal your data.</p>
    <p>We will not steal your data.</p>
    <p>We will not steal your data.</p>
    <p>We will not steal your data.</p>
    <p>We will not steal your data.</p>
    <p>We will not steal your data.</p>
    <p>We will not steal your data.</p>

</div>